html,
body {
    height: 100%;
}

canvas {
    position: fixed;
    background-color: #fff;
}

#game {
    width: 100%;
    height: 100%;
}

/* Header Section with navbar and image */
header {
    height: 100vh;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-menu {
    background-image: url("../img/global/AOG\ Education.png");
}

.right-align {
    text-align: end;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.white-background {
    background-color: #fff;
}

/* Language Section */
#math-menu {
    margin-top: 152px;
}

.math-menu-card {
    margin-bottom: 32px;
}

.card-title {
    margin-top: 0.75rem;
}

.question-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.next-question {
    margin-top: 42px;
}

.hide-with-space {
    visibility: hidden;
}

.pic-table {
    table-layout: fixed;
}