html, body {
    height: 100%;
}

canvas {
    position: fixed;
    background-color: #fff;
}

#game {
    width: 100%;
    height: 100%;
}

/* Header Section with navbar and image */
header {
    height: 100vh;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-menu {
    background-image: url("../img/global/AOG\ Education.png");
}
