/*Library Class Styling below*/
#libraryContainer {
    height: 100%;
    border: 3px solid black;
    justify-content: space-evenly;
    align-items: center;
  }
  
#reading {
  height: 80%;
  width: 100%;
  background-color: cornsilk;
}

  .bookshelf {
    width: 90vw;
    border: 2px solid blueviolet;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 65%;
  }
  
  /*Book Class Styling below*/
  .book {
    width: 35%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
  }
  
  .book p {
    font-size: 30px;
    text-decoration: underline;
  }
  
  .book img {
    height: auto;
    width: 100%;
  }
  
  /* Text Class Styling Below*/
  .text-container {
    height: 80vh;
    margin-top: -55vh;
    padding: 0 10vw;
    font-size: 40px;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  .text {
    height: 50%;
    margin-top: 50%;
  }
  
  .red-highlight {
    color: red;
  }
  
  mark{
    background: #0C374D;
    color: white;
  }